@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  font-family: "IBM Plex Mono", monospace;
  user-select: none;
}

.ANTON {
  font-family: "IBM Plex Mono", monospace;
}


.inf span {

  opacity: 0;
  pointer-events: none;
  transition: 100ms ease;
}

.inf {
  background-color: rgb(202, 7, 7);
}

.inf:hover span {
  display: flex;
  opacity: 1;
  transition: 100ms ease;
}

.bgcenter {
  background-size: 80px;
  background-position: center;
}

body {
  /* background: url(./assets/back.jpg);
  background-size: cover; */
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.vignette {
  background-image: url(./bgTexture.svg), radial-gradient(circle, #0000, #000000ea);
  background-size: cover, auto;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  mask-image: radial-gradient(circle, transparent 30%, black 70%);
  -webkit-mask-image: radial-gradient(circle, transparent 30%, black 70%);
}

.al {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr {
  transition: 1s ease;
}

.tr2 {
  transition: 0.05s ease;
}

.center-abs {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.an {
  animation: create 0.2s forwards;
  animation-iteration-count: 1;
}

.deletebutton svg {
  transition: 100ms ease;
  transform: scale(0.0);
}

.deletebutton:hover svg {
  transform: scale(1.0);
}

@keyframes create {
  0% {
    opacity: 0;
  }

  ;

  100% {
    opacity: 1;
  }
}





::-webkit-scrollbar {
  display: none;
}