@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  font-family: "Inter";
  user-select: none;
}


.inf span{

opacity: 0;
pointer-events: none;
  transition: 100ms ease;
}

.inf{
  background-color: rgb(202, 7, 7);
}

.inf:hover span{
  display: flex;
  opacity: 1;
  transition: 100ms ease;
}

.bgcenter{
  background-size: 80px;
  background-position: center;
}

body {
  /* background: url(./assets/back.jpg);
  background-size: cover; */
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.vignette{
  background: radial-gradient(circle, #0000, #000000bf)
}

.al{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr{
  transition: 1s ease;
}
.tr2{
  transition: 0.05s ease;
}

.center-abs{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.an {
  animation: create 0.2s forwards;
  animation-iteration-count: 1;
}

.deletebutton svg{
  transition: 100ms ease;
  transform: scale(0.0);
}

.deletebutton:hover svg{
  transform: scale(1.0);
}

@keyframes create {
  0%{
    opacity: 0;
  };
  100%{
    opacity: 1;
  }
}





::-webkit-scrollbar {
 display: none;
}
